div {
    height:200px;
    width:200px;
	border-radius: 100px;
    display: inline-block;
	margin-top: 50px;
	margin-left: 50px;
}

#red {
    background-color:#FF0000;
}

#blue {
    background-color:#0000FF;
}

#yellow {
    background-color:#E2BE22;
}

#green {
    background-color:#008800;
}