/*Kids*/
/*Beta*/
#Dave {color: #e00707;}
#John {color: #0715cd;}
#Jade {color: #4ac925;}
#Rose {color: #b536da;}

/*Alpha*/
#Dirk {color: #f2a400;}
#Jane {color: #00d5f2;}
#Jake {color: #1f9400;}
#Roxy {color: #ff6ff2;}

/* Trolls */
/* Aries */
#Megido {color: #a10000;}

/* Tauros */
#Nitram {color: #a15000;}
#Summoner {color: #a25203;}

/* Gemini */
#Captor {color: #a1a100;}

/* Cancer */
#Vantas   {color: #626262;}
#Signless {color: #FF0000;}

/* Leo */
#Leijon {color: #416600;}

/* Virgo */
#Maryam   {color: #008141;}
#Dolorosa {color: #078446;}

/* Libra */
#Pyrope {color: #008282;}

/* Scorpio */
#Serket   {color: #005682;}
#Mindfang {color: #004182;}

/* Saggitarius */
#Zahhak   {color: #000056;}
#Darkleer {color: #0021cb;}

/* Capricorn */
#Makara    {color: #2B0057;}
#Highblood {color: #440A7f;}

/* Aquarius */
#Ampora {color: #6a006a;}

/* Pisces */
#Peixes   {color: #77003c;}
#Condesce {color: #99004d;}

/* Extra Text */

.CText {font-family: courier;}
#Troll {background-color: #c4c4c4;}
