/*Kids*/
/*Beta*/
#Dave
{
  font-family: Courier;
  color:#e00707;}

#John
{
  font-family: Courier;
  color:#0715cd;}

#Jade
{
  font-family: Courier;
  color:#4ac925;}

#Rose
{
  font-family: Courier;
  color:#b536da;}

/*Alpha*/
#Dirk
{
  font-family: Courier;
  color:#f2a400;}

#Jane
{
  font-family: Courier;
  color:#00d5f2;}

#Jake
{
  font-family: Courier;
  color:#1f9400;}

#Roxy
{
  font-family: Courier;
  color:#ff6ff2;}

/*Trolls*/
#Megido
{color:#a10000;}
#Nitram
{color:#a15000;}
#Captor
{color:#a1a100;}
#Vantas
{color:#626262;}
#Leijon
{color:#416600}
#Maryam
{color:#008141;}
#Pyrope
{color:#008282;}
#Serket
{color:#005682;}
#Zahhak
{color:#000056;}
#Makara
{color:#2b0057;}
#Ampora
{color:#6a006a;}
#Peixes
{color:#77003c;}
#Troll
{background-color:#c4c4c4;}
