/*Base Colours*/
#Megido
{color:#a10000;}
#Nitram
{color:#a15000;}
#Captor
{color:#a1a100;}
#Vantas
{color:#626262;}
#Leijon
{color:#416600}
#Maryam
{color:#008141;}
#Pyrope
{color:#008282;}
#Serket
{color:#005682;}
#Zahhak
{color:#000056;}
#Makara
{color:#2b0057;}
#Ampora
{color:#6a006a;}
#Peixes
{color:#77003c;}
/*Ancestors*/
#Summoner
{color: #a25203;}
#Signless
{color: #FF0000;}
#Dolorosa
{color: #078446;}
#Mindfang
{color: #004182;}
#Darkleer
{color: #0021cb;}
#Highblood
{color: #440a7f;}
#Condesce
{color: #99004d;}
/*Dancestors*/
#Kankri
{color: #FF0000;}
