/*Beta*/
#Dave
{color:#e00707;}
#John
{color:#0715cd;}
#Jade
{color:#4ac925;}
#Rose
{color:#b536da;}

/*Alpha*/
#Dirk
{color:#f2a400;}
#Jane
{color:#00d5f2;}
#Jake
{color:#1f9400;}
#Roxy
{color:#ff6ff2;}
